.cabecalho {
    color: var(--branco);

    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: .75rem;
    padding-bottom: .75rem;

    border-bottom: 1px solid var(--borda-cabecalho-mobile);

    position: absolute;
}

.cabecalho__logo {
    margin-bottom: 2rem;
}

.cabecalho__navegacao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.cabecalho__link {
    font-size: 1.1rem;

    display: inline-block;

    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
}

@media screen and (min-width: 768px) {
    .cabecalho {
        padding: .5rem 0 2.5rem 0;
    }

    .cabecalho__logo {
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .cabecalho {
        flex-direction: row;
        justify-content: space-between;
        padding: .75rem 2rem;
        border: none
    }

    .cabecalho__link {
        margin: 1.25rem .7rem;
    }
}